release/xadmin/WEB-INF/classes/DeploymentManifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="deploymentManifest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="deployment-id"/>
                <xs:element ref="deployment-manifest-version"/>
                <xs:element ref="updates"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deployment-id" type="xs:integer">
        <xs:annotation>
            <xs:documentation>The numeric deployment ID from Xcenter. Included twice: Once on the manifest (generated by
                Xadmin) and once - optional - on each update. This is only for the Python bindings and does not need to
                be included in the XML.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="deployment-manifest-version" type="xs:string">
        <xs:annotation>
            <xs:documentation>The version of the deployment manifest.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="updates">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="update"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="update">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="relative-url"/>
                <xs:element ref="type"/>
                <xs:element ref="download-priority"/>
                <xs:element ref="apply-priority"/>
                <xs:element ref="deployment-id" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="file-hash" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="sha512" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="relative-url" type="xs:string">
        <xs:annotation>
            <xs:documentation>The relative path to download the update from - path is relative to the URL specified in
                configuration..
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="type" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                The type of file being downloaded.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="download-priority">
        <xs:annotation>
            <xs:documentation>STORE_CLOSE = Download during the close, IMMEDIATE = Download immediately.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="STORE_CLOSE"/>
                <xs:enumeration value="IMMEDIATE"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="apply-priority">
        <xs:annotation>
            <xs:documentation>The apply priority.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:annotation>
                <xs:documentation>STORE_CLOSE = Wait until the store close to apply, IMMEDIATE = apply immediately
                </xs:documentation>
            </xs:annotation>
            <xs:restriction base="xs:string">
                <xs:enumeration value="STORE_CLOSE"/>
                <xs:enumeration value="IMMEDIATE"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="file-hash" type="xs:string">
        <xs:annotation>
            <xs:documentation>The MD5 hash of the file being downloaded.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="sha512" type="xs:string">
        <xs:annotation>
            <xs:documentation>The SHA-512 hash of the file being downloaded.</xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
